* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    margin: 50px;
    gap: 20px;
    align-items: center;
    margin-top:30px;
}

.image{
    display: flex;
    background-color: rgb(216, 216, 216);
    color: #000000;
    padding: 80px 200px;
    height: fit-content;
    border-radius: 4px;
}
.image h1{
    line-height: 6;

}
.container{
    margin: 0px;
    background-color: aqua;
}
.pt-5{
    width: 100%;  

}
.mt-5{
    width: 100%;
}
.logo{
    font-size: xx-large;
}
.navbar{
    margin-top:10px;
    background-color: black;
    color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    padding: 0px 50px;
    margin: auto;

}
.navbar ul li{

    list-style: none;
    padding-top: 15px;
    
}
.navbar li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity:0.9;
}
.navbar ul{
    display: flex;
    gap: 20px;
}

.flex-box {
    margin: 0 auto;
    border-radius: 3%;
    text-align: center;
    width: 100%;
    height: 30vh;
    font-size: 45px;
    line-height: 30vh;
    background-color: rgba(236, 235, 235, 0.983);
    position: relative;
}

.flex-box1 {
    margin: 0;
    text-align: left;
    vertical-align: top;
}

p {
    text-align: left;
}

.header {
    background-color: black;
    color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
    .head{
    margin: 0 50px;

    }

.footer {
    background-color: rgba(0, 0, 0, 1);
    margin-top: 30px;
    line-height: 70px;
    display: block;
    height: 80px;
    text-align: center;
    border-radius: 1px;
    color: aliceblue;
}

.card-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 20px;
}

.card {
    margin: 20px;
    flex: 1 1 30%;
}

.btn3 {
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 3%;
    border-radius: 5px;
}
.navbar li a:hover{
    opacity:0.3;
    transition:0.14s;
    

}
@media only screen and (max-width:940px) {
                
    section{
        flex-direction: column;

        width: 100%;
        
        margin-left: 0;
        object-fit: cover;
    }
    .image{
        width: 100%;
        margin-left: 0;
        justify-content: center;
        
    }
    .cont{
        margin-left: 50px;
        margin-right: 50px;
    }
    .card-container {
   flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    margin: 20px;
}

.card {
    margin: 10px;
    flex: 1 1 30%;
}
}