* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    overflow-x: hidden;
}

.h2{
    text-align:center;
    padding: 20px;
    justify-content: center;
    padding-top: 40px;
}






.container{
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
   
    
}
    





*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing:border-box;
}
header{
    width:100%;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 100px;

}


.logo{
    font-size: 28px;
    font-weight: bold;
    color:white;

    
}
.hamburger{
    display: none;

}
.nav-bar ul{
    display: flex;

}
.nav-bar ul li a{
    text-decoration: none;
    display:block;
    color:white;
    font-size: 20px;
    padding: 10px 25px;
    transition:0.25s;
    margin:0 5px; 
}
.nav-bar ul li a:hover {
    color:#11101b;
    background:#fefefe; 
    border-radius: 25px;
}
.nav-bar ul li a.active{
      color:#11101b;
      background:#f0f0f0;
      border-radius: 25px;

}
/*
.navbar{
    margin-top:10px;
    background-color: black;
    color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    padding: 0px 50px;
    margin: auto;

}
.navbar ul li{

    list-style: none;
    padding-top: 15px;
    
}
.navbar li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity:0.9;
}
.navbar ul{
    display: flex;
    gap: 20px;
}
    */
.cont{
    display:flex;
    margin:20px;
    gap:20px;
    align-items: center;
    
}



.main{
    display:flex;
    flex-direction: column;
}
.image{
    display:flex;
    background-color: rgb(129, 129, 138);
    height:40vh;
    width:100%;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
    
  
    
}

.content{
    display: flex;
    flex-direction: column;
    justify-content:justify;
    width: 40%;

}

.header1 {
    background-color: black;
    color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;


}






    

.footer {
    background-color: rgba(0, 0, 0, 1);
    margin-top: 30px;
    line-height: 70px;
    display: block;
    height: 80px;
    text-align: center;
    border-radius: 1px;
    color: aliceblue;
}


.cards{
    display: flex;
    gap: 55px;
    
}
.card{
    padding: 10px;
    margin-top: 20px;
    
}
.card p{
    margin-bottom: 50px;
}

.btn3 {
    border-top: 1px solid rgb(176, 176, 176);
    padding: 10px 0;
    background-color: #f0f0f0;
    margin: -10px;
}
.btn3 button{
    margin-left: 10px;
}
.navbar li a:hover{
    border-bottom: 3px;
    border-width: 2px;
    color:blue;
    transition:0.14s;
    

}
@media only screen and (max-width:1320px) {
    header {
        padding:0 50px;
    }
    
    
    
}
@media only screen and (max-width:1100px) {
    header {
        padding:0 30px;
    }
}


@media only screen and (max-width:940px) {
    body{
        background-color: aqua;
    }
    .cont{
        flex-direction: column;
    }
    .content{
        width: 100%;
    }
    .hamburger{
        display:block;
        cursor:pointer;
    }
    .hamburger .line{
        width:30px;
        height:5px;
        background: #fefefe;
        margin:6px;
    }
    .nav-bar{
        height:0px;
        position: absolute;
        top:80px;
        left:0;
        right:0;
        width: 100vw;
        background: #11101b;
        transition: 0,25s;
        overflow:hidden;
    }
    .nav-bar.active{ 
        position:absolute;
        height:400px;
    }
    .nav-bar ul{
        display:block;
        width:fit-content;
        margin:80px auto 0 auto;
        text-align:center;
        transition:0.23s;
        opacity:0;

    }
    .nav-bar.active ul{
        opacity:1;
         
    }
    .nav-bar ul li a{
        margin-bottom:12px;
    }

    .container{
        width:100%;
        max-width:940px;
        margin-right:auto;
        margin-left:auto;

    }
   .cnt{
    width:100%;
    display:block;
    overflow: hidden;
   }             
   
    .image{
        display:block;
        width:100%;
        background-color: rgb(115, 115, 115);

        

    }
    .card-container{
        width:100%;
        max-width:940px;
        margin-right:auto;
        margin-left:auto;

        
        display:flex;
        flex-direction: column;
        width:70vh;
     }
     .cards{
        flex-direction: column;
    }
     
    
   
}


    
